<mat-card class="card">
    <mat-card-title>{{loginTitle}}</mat-card-title>
    <form #loginData="ngForm" ngForm (ngSubmit)="submit(loginData)">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput required email="true" type="email" name="email" #email="ngModel" ngModel>
                <div *ngIf="email.touched">
                    <mat-error>{{validateEmail(email)}}</mat-error>
                </div>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" name="password" #password="ngModel" ngModel>
                <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div *ngIf="password.touched">
                    <mat-error>{{validatePassword(password)}}</mat-error>
                </div>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button type="submit" color="primary">Login</button>
        </div>
    </form>
</mat-card>