<header>
  <nav>
    <mat-toolbar color="primary">
      <span><img src="../img/puzzle_logo.png" width="35" height="35" alt="Puzzle"></span>
      <span class="example-spacer"></span>
      <a href="/" mat-button>Game</a>
      <a href="/highscore" mat-button>High-Score-Board</a>
      <a href="/faq" mat-button>FAQ</a>
      <a href="/login" mat-button>Login</a>
      <a href="/signup" mat-button>Sign Up</a>
    </mat-toolbar>
  </nav>
</header>
<!--<mat-card class="card">
  <mat-card-title>{{gameTitle}}</mat-card-title>
  <a href="/puzzle?puzzle=1" mat-raised-button type="button" id="puzzle1" color="accent">Puzzle 1</a>
  <a href="/puzzle?puzzle=2" mat-raised-button type="button" id="puzzle2" color="primary">Puzzle 2</a>
</mat-card>-->
<router-outlet></router-outlet>