<header>
  <nav>
    <mat-toolbar color="primary">
      <span><img src="../assets/puzzle_logo.png" style="margin-top:10px;" width="70px" alt="Puzzle"></span>
      <span class="example-spacer"></span>
      <a [routerLink]="['/']" mat-button><mat-icon mat-list-icon>extension</mat-icon></a>
      <a [routerLink]="['/highscore']" mat-button><mat-icon mat-list-icon>format_list_numbered_rtl</mat-icon></a>
      <a [routerLink]="['/faq']" mat-button><mat-icon mat-list-icon>quiz</mat-icon></a>
      <a [routerLink]="['/profile']" mat-button *ngIf="loginStatus"><mat-icon mat-list-icon>account_circle</mat-icon></a>
      <a [routerLink]="['/login']" mat-raised-button *ngIf="!loginStatus" style="margin-right:10px">Login</a>
      <a [routerLink]="['/signup']"mat-raised-button color="accent" *ngIf="!loginStatus">Sign Up</a>
      <a  mat-button *ngIf="loginStatus" (click)="logout()"><mat-icon mat-list-icon>logout</mat-icon></a>
    </mat-toolbar>
  </nav>
</header>
<router-outlet></router-outlet>