<section>
    <h1> FHTW PUZZLE GAME </h1>
    <h3> 00:00:00 </h3>
</section>
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile><img [id]="imgid1" [src]="src1" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid2" [src]="src2" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid3" [src]="src3" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid4" [src]="src4" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid5" [src]="src5" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid6" [src]="src6" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid7" [src]="src7" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid8" [src]="src8" (click)="chooseTile(id)"></mat-grid-tile>
    <mat-grid-tile><img [id]="imgid9" [src]="src9" (click)="chooseTile(id)"></mat-grid-tile>
</mat-grid-list>