<mat-card class="card">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card-title>{{signupTitle}}</mat-card-title>
    <mat-card>
        <form *ngIf="!isLoading">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>E-Mail</mat-label>
                    <input matInput type="email" [formControl]="emailFormControl" required>
                    <mat-error *ngIf="emailFormControl.hasError('email')">
                        Please enter a valid email address!
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput required name="username" #username="ngModel" ngModel>
                    <!--INCOMPLETE-->
                </mat-form-field>
            </div>
            <!--toggle triggers twice-->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" minlength="8" #pass required>
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                        Password must be at least 8 characters long!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter Password again</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="confirmPasswordFormControl" minlength="8" #confirmPass required>
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Please enter password again!
                    </mat-error>
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('minlength')">
                        Password must be at least 8 characters long!
                    </mat-error>
                    <mat-hint id="hint-color" *ngIf="pass.value!==confirmPass.value && !confirmPasswordFormControl.hasError('required') && !confirmPasswordFormControl.hasError('minlength')">
                        Passwords must match!
                    </mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Adress</mat-label>
                    <textarea matInput type="text" name="adress" #adress="ngModel" ngModel></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput type="text" name="city" #city="ngModel" ngModel>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Postcode</mat-label>
                    <input matInput type="number" name="postcode" #postcode="ngModel" ngModel>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">Signup</button>
            </div>
        </form>
    </mat-card>
    
</mat-card>

