<mat-card class="card">
    <mat-card-title>{{signupTitle}}</mat-card-title>
    <mat-card>
        <form #register = 'ngForm' ngForm (ngSubmit) = 'onSubmit(register)'>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput name='email' email='true' type="email" required ngModel #email='ngModel'>
                    <div *ngIf="email.touched">
                        <mat-error>{{validateEmail(email)}}</mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput name='password' [type]="hide1 ? 'password' : 'text'" minlength="8" ngModel #password='ngModel' required>
                    <button mat-icon-button type="button" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="password.touched">
                        <mat-error>{{validatePassword(password)}}</mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter Password again</mat-label>
                    <input matInput name='password2' [type]="hide2 ? 'password' : 'text'" minlength="8" ngModel #password2='ngModel' required>
                    <button mat-icon-button type="button" matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="password2.touched">
                        <mat-error>{{comparePasswords(password, password2)}}</mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Adress</mat-label>
                    <input matInput type="text" name="adress" #adress="ngModel" ngModel>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput type="text" name="city" #city="ngModel" ngModel>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Postcode</mat-label>
                    <input matInput type="number" name="postcode" #postcode="ngModel" ngModel>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">Register</button>
            </div>
        </form>
    </mat-card>
</mat-card>
