<mat-card class="card">
    <mat-card-title>{{profileTitle}}</mat-card-title>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>Username</div>
            <div mat-line> {{profile.username}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon mat-list-icon>sports_score</mat-icon>
        <div mat-line>Highscore</div>
        <div mat-line> {{profile.score}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Adress</div>
        <div mat-line> {{profile.adress}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <div mat-line>City</div>
        <div mat-line> {{profile.city}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon mat-list-icon>local_post_office</mat-icon>
        <div mat-line>Postcode</div>
        <div mat-line> {{profile.postcode}} </div>
    </mat-list-item>
    </mat-list>
</mat-card>
