<mat-card class="card">
    <mat-card-title>{{profileTitle}}</mat-card-title>
    <table mat-table class="mat-elevation-z8">
        <ng-container matColumnDef="username">
            <th mat-header-cell> Username </th>
            <td mat-cell> {{profile.username}} </td>
        </ng-container>
        <ng-container matColumnDef="score">
            <th mat-header-cell> Highscore </th>
            <td mat-cell> {{profile.score}} </td>
        </ng-container>
        <ng-container matColumnDef="adress">
            <th mat-header-cell> Adress </th>
            <td mat-cell> {{profile.adress}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell> City </th>
            <td mat-cell> {{profile.city}} </td>
        </ng-container>
        <ng-container matColumnDef="postcode">
            <th mat-header-cell> Postcode </th>
            <td mat-cell> {{profile.postcode}} </td>
        </ng-container>
    </table>
</mat-card>
